/**
 * @author xiezhenzong
 */

@import '~base.less';

.navbar {
	height: 53px;
	text-align: center;
	background-color: @white;
}

.navbar-middle{
	position: absolute;
	width: 100%;
	text-align: center;
	img {
		width: 100px;
		height: 100px;
	}
}

.navbar-default {
	color: @black;
	background-image: none;
	border: 0px;
}

.nav{
	margin: 0 auto;
	padding-left: 2em;
	position: relative;
}

.navbar-default .navbar-nav > li > a {
	text-align: center;
	color: @black;
	text-shadow: none;
	font-family: "Microsoft YaHei";
	font-size: 20px;
	font-weight: 400;
	border-bottom: 3px solid @white;;
	&:hover {
		color: @orange;
		border-bottom: 3px solid @orange;
	}
}

.navbar-default .navbar-nav .activity > a {
	color: @white;
	background-color: @orange;
	border-bottom: 3px solid @orange;
}

.navbar-header {
	img {
		height: 50px;
	}
}