/**
 * @author xiezhenzong
 */

@import '~base.less';

.navbar {
	background-color: @white;
	height: 55px;
}

.navbar-default {
	color: @black;
	background-image: none;
	border: 0px;
}

.nav{
	margin: 0 auto;
	padding-left: 1em;
	position: relative;
}

.navbar-default .navbar-nav > li > a {
	height: 55px;
	text-align: center;
	color: @black;
	text-shadow: none;
	font-family: "Microsoft YaHei";
	line-height: 55px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 16px;
	font-weight: 400;
	&:hover {
		color: @currency;
		border-bottom: 3px solid @currency;
	}
}

.navbar-default .navbar-nav .activity > a {
	color: @white;
	background-color: @currency;
	border-bottom: 3px solid @currency;
}

.navbar-header {
	img {
		display: inline-block;
		height: 50px;
	}
}

.navbar-accountinfo-container {

	.navbar-menu a {
		max-width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-top: 5px;
		padding-left: 5px;

		img {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin-top: -5px;
			margin-right: 10px;
		}

		.anticon {
			padding-top: -5px;
		}

		.anticon.anticon-right {
			display: inline-block;
			font-size: 16px;
			font-size: 8px \9;
			-webkit-transform: scale(0.66666667) rotate(0deg);
			-ms-transform: scale(0.66666667) rotate(0deg);
			transform: scale(0.66666667) rotate(0deg);
			/* IE6-IE8 */
			-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
			zoom: 1;
			font-weight: bold;
		}
		.anticon.anticon-down {
			font-size: 16px;
		}
		&:hover {
			border: none!important;
		}
	}
}

.ant-dropdown {
	.anticon {
		margin-left: 5px;
		margin-right: 15px;
	}

	.ant-dropdown-menu-item {
		font-size: 16px;

		&:hover {
			background-color: rgba(255, 102, 17, 0.34);
		};
	}
}

.split-bar{
	float: left;
	margin-top: 16px;
	width: 2px;
	height: 20px;
	background-color: @currency;
}