//
// Application Scaffolding
// --------------------------------------------------
@import "~base.less";
@import "./ui_components.less";

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background: @body-bg;
  font: normal 400 12px/28px "Microsoft YaHei";
  -webkit-text-size-adjust:none;
  text-decoration: none;
  -webkit-overflow-scrolling: touch;
  display: block;
}