.map-container{
    width: 100%;
    height: 550px;
}


#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}

.BMap_pop {
    margin-top: -50px;
}

.BMap_Marker {
    div {
       overflow: visible!important;
    }

    div img[src="https://api.map.baidu.com/images/dest_markers.png"],
    div img[src="https://api.map.baidu.com/images/way-points.png"],
    div img[src="http://api0.map.bdimg.com/images/dest_markers.png"],
    div img[src="http://api0.map.bdimg.com/images/way-points.png"],{
        display: none!important;
    }
}

label {
    max-width: none;
    font-size: 16px!important;
    font-family: "方正清刻本悦宋简体","Microsoft YaHei"!important;
    color: white!important;
    border: none!important;
    background-color: transparent!important;
}

.anchorBL {
    display: none;
}

path {
    stroke: orange;
    stroke-opacity: 0.9;
}