@face-height: 535px;
@body-nav-height: 60px;
@face-margin-top: 5px;

.face-container {
    height: @face-height;
    margin-top: @face-margin-top;
    margin-bottom: 10px;

    .relative {
        height: @face-height;

        .duration {
            text-align: center;
            padding: 1px 2px; 
            width: 36px; 
            height: 36px;
            color: @white;
            background: @currency; 
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;

            .border-radius(5px);

            .days {
                font-size: 12px;
                line-height: 13px;
                margin: 0;
            }
        }

        .title {
            margin: 0 10px 10px 10px;
            font-size: 33px!important;
            display: block;
        }

        .intro {
            font-size: 33px!important;
            display: block;
        }

        .route {
            margin: 5px 0;

            span {
                display: inline;
                color: @dark-gray;
                font-size: 18px!important;
                margin-right: 8px;
            }

            h5 {
                display: inline;
                color: @dark-blue;
                font-size: 16px;
                line-height: 28px!important;
            }
        }

        .bottom {
            bottom: 0;
            position: absolute;

            .price {
                margin: 5px 0;
                font-size: 28px!important;
                font-weight: 700;
            }

            .time {
                width: 250px;
                height: @body-nav-height;
                background: @currency;
                border: none;
                font-size: 25px!important;
                font-weight: 700;
                color: @white;
            }
        }
    }

    .swiper-container{
        width: 100%;
        height: @face-height;
        float: right;
        z-index: 1;

        .swiper-slide {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .body-nav-mask {
            bottom: 0;
            position: absolute;
            height: @body-nav-height;
            width: 100%;
            z-index: 2;
            background-color: @white;
            margin-right: 15px;
            opacity: 0.5;
        }
    }
}

.am-sticky-placeholder {
    width: 100%;
    position: absolute;
    text-align: right;
    top: 13 + @face-height + @face-margin-top;
    left: 0;
    right: 0;
    z-index: 2;

    .navbar {
        margin: 0;
        height: @body-nav-height;
        border: none;
        box-shadow: none;
        background-color: transparent;

        .navbar-nav.navbar-right {
            margin-right: 40px;
        }

        .navbar-nav.navbar-right > li > a {
            width: 130px;
            font-size: 25px;
            color: @dark-gray;
            text-align: center;
            border-radius: 1px;
            border-top: 5px solid transparent;
            border-bottom: none;
            transition: color 0.2s,border 0.2s;
            -moz-transition: color 0.2s,border 0.2s; /* Firefox 4 */
            -webkit-transition: color 0.2s,border 0.2s; /* Safari and Chrome */
            -o-transition: color 0.2s,border 0.2s; /* Opera */
            outline: none;

            &:hover {
                background-color: transparent;
                color: @currency;
            }

            &:focus {
                border-top: 5px solid transparent;
            }
        }
    }

    .navbar.affixed {
        box-shadow: 0 0 5px @gray;
        background-color: @white;

        .navbar-nav.navbar-right > li > a {
            &:hover {
                border-top: 5px solid @currency;
            }
        }

        .navbar-nav.navbar-right > li.select > a {
            background-color: transparent;
            color: @currency;
            border-top: 5px solid @currency;

            &:focus {
                border-top: 5px solid @currency;
            }
        }
    }
}

.brief,
.xingcheng,
.notice,
.expense {

    p {
        margin: 20px 0;
    }

    h2 {
      line-height: 68px;
      font-weight: 600;
      color: @dark-gray;
    }

    h5 {
      font: normal 200 16px/24px "Microsoft YaHei" !important;
    }
}

.brief {
    margin-top: 20px;
    margin-bottom: 20px;

    .liangdian {
        line-height: 60px;
        font-family: "Microsoft YaHei";
        font-weight: normal;
        font-size: 24px;
        color:@dark-gray;
    }

    .light-title {
        font-family: cursive;
        font-size: 45px;
        color:@currency;
    }

    .spot-light {
        font-size: 24px;
    }
}

.xingcheng {

    .day1,
    .days {
        margin: 10px 0;
        .fa-bookmark{
            font-size: 5em;
            color: @dark-red;
        }
    }

    .days{

        .fa{
            font-size: 2em;
            width: 55px;
            color: @light-blue;
            margin: 5px 5px;
        }
        img{
            width: 100%;
        }
    }

    .icons {
        margin-top: 20px;
    }
}

.notice {
    margin-bottom: 20px;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 5px solid @dark-gray;
    font: normal 200 16px/20px "Microsoft YaHei" !important;

    .fa {
        font-size: 1em;
        color: @dark-gray;
        margin: 5px 5px;
    }

}

.expense {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 5px solid @dark-gray;
    font: normal 200 16px/20px "Microsoft YaHei" !important;

    .table {
        th {
          text-align: center;
        }
    }
}

.teaminfo {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 5px solid @dark-gray;

    h2 {
        text-align: center;
        font-size: 1.8em!important;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    table {
        margin-bottom: 50px;
    }

    th, tr {
        text-align:  center;
    }

    thead span {
        font-size: 20px;
    }

    tbody span {
        font-size: 16px;
    }

    button {
        width: 50%;
        background-color: @red;
        background-image: none;
        border: none;
        border-radius: 5px;
        text-shadow: none;
        color: @white;
    }

    button:hover {
        width: 50%;
        background-color: @light-red;
        background-image: none;
        border: none;
        border-radius: 5px;
        text-shadow: none;
        color: @white;
    }

}
