/** 
 * @author xiezhenzong
 */
// UI variables
@import "./ui_setup/colors.less";
@import "./ui_setup/animation.less";

body{
	width: 100%;
	height: 100%;
    color: @black;
}

.container {
    padding: 0;
    width: 1000px;
}

.navbar-fixed-top {
    z-index: 30;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}