@import "~base.less";

@vertical_breakpoint: 820px;

body {
	-webkit-font-smoothing: subpixel-antialiased;
	background: @body-bg;
	font: normal normal 100 14px/20px "Microsoft YaHei";
	-webkit-overflow-scrolling: touch;
}

.step { 
	margin: 20px auto; 
	margin-top: 100px;
	display:block; 
	height: 60px;

	ul{ 
	    list-style-type: none;
	}

	li{ 
		position:relative; 
		text-align:center;
	}

	.line_bg { 
		height:3px; 
		background: @currency; 
		display:inline-block; 
		width:50%; top:13px; 
		position:absolute; 
		z-index:1;
	}

	.lbg-l{
		left:0;
	}
	.lbg-r{
		right:0;
	}

	.num { 
		position:relative; 
		z-index:2; 
		background: @white;
		width:54px; 
		height:30px;
		text-align:center; 
		display:
		inline-block;

		em,
		i {
			border-radius: 3px;
			width:24px; 
			height:24px; 
			display:inline-block; 
			left:15px; 
			top:2px;
			position:absolute;
		}

		em {
			border-radius: 5px;
			background: #FFCDCD;
			transform:rotate(45deg);
			-webkit-transform:rotate(45deg);
			-moz-transform:rotate(45deg);
			-ms-transform:rotate(45deg);
			-o-transform:rotate(45deg);
			z-index:2;
		}

		i {
			z-index:3; 
			color:#fff; 
			font-style:normal; 
			font-weight:700; 
			top:4px;
		}
	}

	.lbg-txt { 
		position:relative; 
		color: #FFCDCD; 
		font-size:13px;
	}
	.on .lbg-txt{
		color: #FF2A2A;
	}
	.on .line_bg,
	.on .num em{ 
		background: #FF2A2A;
	}
}

.travel-info {
	padding: 10px;
	border: 1px solid #dfdfdf;
	border-bottom: 2px solid @currency;
	
	h2{
		font-size: 24px;
		margin: 10px 0;
	}

	h3, 
	h4{
		font-size: 14px;
		margin-bottom: 8px;
	}

	p{
		display: inline-block;
	}

	.price-right{
		float: right;
		margin-right: 15px;
	}

	.group-brief-container{
		border: none;
		border-bottom: 1px dashed @black;
	}

	img{
		width:100%;
	}

	.total {
		margin-top: 10px;
	}
}

.order-content-container {
	min-height: 550px;
	margin-bottom: 100px;

	.order-content-title {
		height: 50px;
	    padding: 13px 20px;
	    margin-bottom: 20px;
	    border-bottom: 2px solid @currency;

	    h3 {
	    	color: @currency;
			font-size: 24px;
	    }
	}

	.order-step1,
	.order-step2,
	.order-step3 {
		border: 1px solid #dfdfdf;
	}
}

.order-step1 {

    .order-content-title .order-contact-tip {
    	margin-left: 20px;
    	padding-top: 5px;
    	font-size: 14px;
    	color: #666;

    	.order-group-quota {
			color: @currency;
			font-size: 18px;
			font-style: border;
			line-height: 18px;
		}
    }

    .order-traveller-select-container {

    	> span:first-child {
    		margin-left: 22px;
    	}

    	.order-contact-name {
			margin-left: 20px;

			span {
				font-size: 14px;
			}
		}

		button {
			margin-left: 20px;
		}
    }

    .order-traveller-show {
    	margin-top: 15px;
    	min-height: 200px;

    	.row .col-md-4 {
            margin-bottom: 10px;
        }
    }

	.submit {
		height: 50px;
		margin: 20px 20px 0 0;
		font-size: 18px;

		.order-agree {
			width: 150px;
		}

		// FIXME
		// .btn {
		// 	margin-left: 10px;
		// 	margin-top: 5px;
		// 	background-image: none;
		// 	background-color: @red;
		// 	border: none;
		// 	color: @white;
		// }
	}
}

.order-step2 {

	.order-total-price {
		font-size: 24px;
		color: @currency;
	}

	.discount-name-list-container {
		margin-top: 30px;
		font-size: 20px;
	    padding-left: 35px;
	    padding-right: 35px;
	    color: #666;
	    border-radius: 8px 8px 0 0;

	    .discount-name {
	    	margin-left: 10px;
	    	margin-top: -5px;
	    }
	}

	.discount-container {
		padding: 20px;

		.ant-form-item label {
			font-size: 15px;
			margin-right: 20px;
		}

		.desc-price {
			height: 39px;
			margin-top: 10px;
			margin-bottom: 20px;
			text-align: right;
			color: @blue;
			font-size: 22px;
		}
	}

	.pay-container {
		padding: 15px 20px;
		border-top: 1px solid #dfdfdf;
		margin-top: 10px;

		.pay-left {
			width: 100px;
			margin-top: 10px;
		}

		.pay-middle {
			font-size: 18px;
			line-height: 30px;
		}

		.pay-right {

			button:first-child {
				margin-bottom: 10px;
			}
		}
	}

	.pre-btn-container {
		height: 100px;
		margin: 20px 0;
		font-size: 18px;

		button {
			width: 86px;
			height: 44px;
			background-color: @red;
			border: none;
			color: @white;
		}
	}
}

.order-step3 {

	.order-content-title .order-status-tip,
	.order-content-title .order-tip {
    	margin-left: 20px;
    	padding-top: 5px;
    	font-size: 14px;
    	color: #666;
    }

    .order-status-tip .order-status,
    .order-tip .order-countdown {
		color: @currency;
		font-size: 18px;
		font-style: border;
		line-height: 18px;
		margin-left: 8px;
		margin-right: 8px;
	}

	.order-tip .order-countdown {
		margin-left: 4px;
		margin-right: 4px;
	}

	.step3-section {
		margin: 35px 20px;
		padding: 25px 0 15px;
        position: relative;
        border-top: 1px solid #f0f0f0;

		h3 {
			position: absolute;
            top: -7px;
            left: 0;
            padding-right: 10px;
            background: #fff;
            color: #888;
            font: 16px/16px 'Microsoft Yahei';
		}
	}

	.order-operation-container {
		border-top: 1px solid #dfdfdf;
		padding: 20px;

		.order-operation {
			margin: auto;
			width: 70%;

			form.ant-form-inline {
				display: inline-block;
			}

			button {
				margin-left: 35px;
			}
		}
	}
}

.order-refund-failed {
	color: @currency;
	font-size: 18px;
	font-style: border;
	line-height: 18px;
	margin-left: 3px;
	margin-right: 3px;
}
