@import "~base.less";

@vertical_breakpoint: 820px;

body {
	-webkit-font-smoothing: subpixel-antialiased;
	background: @body-bg;
	font: normal normal 100 14px/20px "Microsoft YaHei";
	-webkit-overflow-scrolling: touch;
}

.order-container {
	margin-top: 100px;
}

.order-content-container {
	min-height: 550px;
	margin-bottom: 100px;

	.order-content-title {
		height: 50px;
	    padding: 13px 20px;
	    margin-bottom: 20px;
	    border-bottom: 2px solid @currency;

	    h3 {
	    	color: @currency;
			font-size: 24px;
	    }
	}
}

.order-contact-container,
.order-discount-container,
.agreement-container,
.pay-container,
.order-show-container {
	border: 1px solid #dfdfdf;
}

.order-form-container {

	/**
	 * 新用户提醒框样式
	 */
	.ant-alert-with-description {
		border-radius: 0;
	}

}

.order-contact-container {

    .order-content-title .order-contact-tip {
    	margin-left: 20px;
    	padding-top: 5px;
    	font-size: 14px;
    	color: #666;

    	.order-group-quota {
			color: @currency;
			font-size: 18px;
			font-style: border;
			line-height: 18px;
		}
    }

	/**
	 * 因为.order-emergency-contianer里也会用到下面两个样式，
	 * 所以就不放在.order-traveller-select-container里了
	 */
    .order-contact-name {
		margin-left: 20px;

		span {
			font-size: 14px;
		}
	}

	button {
		margin-left: 20px;
	}

    .order-traveller-select-container {

    	> span:first-child {
    		margin-left: 20px;
    	}
    }

    .order-roommate-contianer,
    .order-emergency-contianer {
    	width: 100%;
    	border-top: 1px solid #dfdfdf;
    	padding: 13px 20px 0 20px;
    }

    .order-traveller-show,
    .order-emergency-show {
    	margin-top: 15px;
    	min-height: 100px;

    	.row .col-md-4 {
            margin-bottom: 10px;
        }
    }

    .order-roommate-show {
    	margin-top: 15px;
    	margin-left: 20px;

    	.order-roommate-item {
    		margin-bottom: 10px;

    		p.order-roommate-label {
    			width: 80px;
    			display: inline-block;
    		}

    		span.ant-input-wrapper {
	    		display: inline-block;

	    		.order-roommate-input {
		    		margin-left: 20px;
		    	}
	    	}
    	}
    }

    .order-emergency-show {
    	min-height: 100px;
    }
}

.order-discount-container {

	margin-top: 20px;

	.order-total-price {
		font-size: 24px;
		color: @currency;
	}

	.discount-price-container {
		font-size: 20px;
	    padding-left: 35px;
	    padding-right: 35px;
	    color: #666;
	    border-radius: 8px 8px 0 0;

	    .discount-name {
	    	margin-left: 10px;
	    	margin-top: -5px;
	    }
	}

	.discount-container {
		padding: 20px;

		.ant-form-item label {
			font-size: 15px;
			margin-right: 20px;
		}

		.desc-price {
			height: 39px;
			margin-top: 6px;
			margin-bottom: 20px;
			text-align: right;
			color: @blue;
			font-size: 22px;
		}

		.discountcode-input-container .ant-input {
			width: 87%;
		}

		.discountcode-tip {
			font-size: 14px;
			font-size: 18px;
			line-height: 32px;
			color: @light-currency;
			margin-left: 3px;
		}
	}

	.pre-btn-container {
		height: 100px;
		margin: 20px 0;
		font-size: 18px;

		button {
			width: 86px;
			height: 44px;
			background-color: @red;
			border: none;
			color: @white;
		}
	}
}

.agreement-container {
	height: 50px;
	margin-top: 20px;
	padding: 13px 20px;
	font-size: 18px;

	.order-agree {
		margin-left: 20px;
	}

	a {
		margin-left: 10px;
	}
}

.pay-container {
	padding: 15px 20px;
	border-top: none;

	.pay-left {
		width: 100px;
		margin-top: 10px;
	}

	.pay-middle {
		font-size: 18px;
		line-height: 30px;
	}

	.pay-right {

		button:first-child {
			margin-bottom: 10px;
		}
	}
}

.order-show-container {

	.order-content-title .order-status-tip,
	.order-content-title .order-tip {
    	margin-left: 20px;
    	padding-top: 5px;
    	font-size: 14px;
    	color: #666;
    }

    .order-status-tip .order-status,
    .order-tip .order-countdown {
		color: @currency;
		font-size: 18px;
		font-style: border;
		line-height: 18px;
		margin-left: 8px;
		margin-right: 8px;
	}

	.order-tip .order-countdown {
		margin-left: 4px;
		margin-right: 4px;
	}

	.step3-section {
		margin: 35px 20px;
		padding: 25px 0 15px;
        position: relative;
        border-top: 1px solid #f0f0f0;

		h3 {
			position: absolute;
            top: -7px;
            left: 0;
            padding-right: 10px;
            background: #fff;
            color: #888;
            font: 16px/16px 'Microsoft Yahei';
		}
	}

	.order-operation-container {
		border-top: 1px solid #dfdfdf;
		padding: 20px;

		.order-operation {
			text-align: center;

			form.ant-form-inline {
				display: inline-block;
			}

			button {
				margin-left: 35px;
			}
		}
	}
}

.order-refund-failed {
	color: @currency;
	font-size: 18px;
	font-style: border;
	line-height: 18px;
	margin-left: 3px;
	margin-right: 3px;
}

.travel-info {
	padding: 10px;
	border: 1px solid #dfdfdf;
	border-bottom: 2px solid @currency;
	
	h2{
		font-size: 24px;
		margin: 10px 0;
	}

	h3, 
	h4{
		font-size: 14px;
		margin-bottom: 8px;
	}

	p{
		display: inline-block;
	}

	.price-right{
		float: right;
		margin-right: 15px;
	}

	.group-brief-container{
		border: none;
		border-bottom: 1px dashed @black;
	}

	img{
		width:100%;
	}

	.total {
		margin-top: 10px;
	}
}
