@import '~base.less';
@import 'routes.less';

.head {
    position: relative;
    width: 100%;
    height: 500px;
}

.WH-table {
    width: 100%;
    margin-top: -20px;
    display: table;
    position: relative;

    .WH-container {
        width: 100%;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;

    .swiper-slide {
    	background-position: center center;
    	background-size: cover;
  		background-repeat: no-repeat;
  	}
    
    .arrow-container {
        display: none;
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 0;
        z-index: 3;

        .arrows {
            position: relative;
            border-top: 0.1px solid hsla(0,0%,100%,.3);
            font-size: 18px;
            color: @white;

            .left-arrow {
                left: 0;
                position: absolute;
                display: inline-block;
                cursor: pointer;
                
                a{
                    font-family: inherit;
                }

                .fa {
                    transition: margin 0.3s;
                    -moz-transition: margin 0.3s; /* Firefox 4 */
                    -webkit-transition: margin 0.3s; /* Safari 和 Chrome */
                    -o-transition: margin 0.3s; /* Opera */
                }
            }

            .right-arrow {
                right: 0;
                position: absolute;
                display: inline-block;
                cursor: pointer;
                
                a{
                    font-family: inherit;
                }

                .fa {
                    transition: margin 0.3s;
                    -moz-transition: margin 0.3s; /* Firefox 4 */
                    -webkit-transition: margin 0.3s; /* Safari 和 Chrome */
                    -o-transition: margin 0.3s; /* Opera */
                }
            }

            a {
                margin: 0 20px;
                font-family: Myriad Set Pro;
                font-weight: 200;
                color: white;
                text-decoration: none;
            }
        }

        .left-arrow:hover {
            .fa {
                margin: 0 -5px 0 5px;
            }
        }

        .right-arrow:hover {
            .fa {
                margin: 0 5px 0 -5px;
            }
        }
    }
}

.body {
    margin-top: 60px;
    width: 100%;
}

.content {
    background-color: #fff;
}

.separator{
    padding-top: 80px;
    margin: 0 auto 50px auto;
    width: 100%;
    border-top: .1rem solid #e4e4e4;
    display: flex;
    position: relative;
    line-height: 32px;
    text-align: center;

    .separator-text {
        font-family: "Microsoft YaHei";
        letter-spacing: 4px;
        font-weight: 300;
        font-size: 32px;
        color: @black;
        margin: 0 auto 24px auto;
    }

    .separator-text:after{
        border-bottom: .2rem solid @currency;
        bottom: 0;
        content: "";
        display: block;
        left: 50%;
        margin-left: -1.5rem;
        position: absolute;
        width: 3rem;
    };
}

.products .route-container {
    margin: 20px 5px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 3px 0 @light-gray;
        animation: shadow 0.3s;
        -moz-animation: shadow 0.3s; /* Firefox */
        -webkit-animation: shadow 0.3s; /* Safari and Chrome */
        -o-animation: shadow 0.3s; /* Opera */
    }

    .info {
        position: relative;
        border: 1px solid #ddd;
        background-color: rgba(0, 0, 0, 0);
        text-align: left;
        padding: 5px 20px 5px 80px;
        width: 100%;

        .days{
            position:absolute;
            margin-left: -70px;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 50px;
        }

        h5 {
            font-size: 14px;
            text-decoration: none;
            color: @black;
            margin-top: 4px;
            margin-bottom: 5px;
            display: block;
        }

        a {
            font-size: 18px;
            text-decoration: none;
            color: @black;
            font-weight: 600;
            line-height: 35px;
            display: block;
            transition: color 0.3s;
            -moz-transition: color 0.3s; /* Firefox 4 */
            -webkit-transition: color 0.3s; /* Safari 和 Chrome */
            -o-transition: color 0.3s; /* Opera */
        }

        a:hover {
            color: @currency;
        }
    }
}

.products .more {
    text-align: center;
    margin: 30px 0 50px 0;
    color: @dark-blue;
    font-size: 16px;
    color: @dark-blue;

    a {
        color: @dark-blue;
        text-decoration: none;
        font-family: "Microsoft YaHei";
        cursor: pointer;
    }

    .fa {
        margin:0 5px 0 15px;
        transition: margin 0.3s;
        -moz-transition: margin 0.3s; /* Firefox 4 */
        -webkit-transition: margin 0.3s; /* Safari 和 Chrome */
        -o-transition: margin 0.3s; /* Opera */
    }

    &:hover {
        .fa {
            margin:0 10px 0 10px;
        }
    }
}

.activities{
    position: relative;
    background-color: @white;

    img {
        cursor: pointer;
        margin: 20px 0;

        &:hover {
            box-shadow: 0 0 3px 0 @light-gray;
            animation: shadow 0.3s;
            -moz-animation: shadow 0.3s; /* Firefox */
            -webkit-animation: shadow 0.3s; /* Safari and Chrome */
            -o-animation: shadow 0.3s; /* Opera */
        }
    }
}
    
.others{
    padding-bottom: 100px;
    background-size: 1000px 400px;
    background-position: center;
    background-repeat: no-repeat;

    .aboutus {
        text-align: left;

        .about-text{
            margin-left: 8px;
            line-height: 43px;
            font-family: Microsoft YaHei;
            font-size: 14px;
            color: #666;
            text-decoration: none;
        }
    }

    .aboutimg {
        padding: 12px 8px;
    }
}

@keyframes shadow
{
    from {box-shadow: 0 0 0 0 @light-gray;;}
    to {box-shadow: 0 0 3px 0 @light-gray;}
}

@-moz-keyframes shadow /* Firefox */
{
    from {box-shadow: 0 0 0 0 @light-gray;;}
    to {box-shadow: 0 0 3px 0 @light-gray;}
}

@-webkit-keyframes shadow /* Safari and Chrome */
{
    from {box-shadow: 0 0 0 0 @light-gray;;}
    to {box-shadow: 0 0 3px 0 @light-gray;}
}

@-o-keyframes shadow /* Opera */
{
    from {box-shadow: 0 0 0 0 @light-gray;;}
    to {box-shadow: 0 0 3px 0 @light-gray;}
}

