@keyframes shadow
{
    from {box-shadow: 0 0 0 0 @light-gray;;}
    to {box-shadow: 0 0 6px @trans-black;}
}

@-moz-keyframes shadow /* Firefox */
{
    from {box-shadow: 0 0 0 0 @light-gray;;}
    to {box-shadow: 0 0 6px @trans-black;}
}

@-webkit-keyframes shadow /* Safari and Chrome */
{
    from {box-shadow: 0 0 0 0 @light-gray;;}
    to {box-shadow: 0 0 6px @trans-black;}
}

@-o-keyframes shadow /* Opera */
{
    from {box-shadow: 0 0 0 0 @light-gray;;}
    to {box-shadow: 0 0 6px @trans-black;}
}