// Main colors
// -------------------------
@red: #E01515;
@light-red: #FF7777;
@dark-red: #D40000;
@gray: rgb(152, 152, 152);
@light-gray: rgb(195, 195, 195);
@dark-gray: rgb(102, 102, 102);
@orange: #FF6100;
@trans-orange: #FF9555;
@light-orange: rgb(253, 172, 35);
@dark-orange: rgb(206, 99, 15);
@black: #666;
@dark-black: #333;
@trans-black: rgba(0, 0, 0, 0.15);
@blue: #3ce6fa;
@light-blue: #40b4de;
@dark-blue: #0078E6;
@green: #50b87f;
@yellow: #ffd780;
@disabled: #c4c4c4;
@white: #ffffff;
@rice: #FBFBFB;
// Backgrounds
// -------------------------
@nav: @white;
@currency: @orange;
@trans-currency: @trans-orange;
@light-currency: @light-orange;
@dark-currency: @dark-orange;
@body-bg: @white;
@gray-bg: #E3E5E6;
// Links
// -------------------------
@link-color: @light-blue;
@link-hover-color: darken(@light-blue, 20%);
@link-active-color: lighten(@light-blue, 20%);
// Texts
// -------------------------
@text-dark-blue: #494f5c;
@text-gray-blue: #acb2c0;
@sidebar-text-color: #a8aab3;
// Elements
// -------------------------
@icon-gray: #acb2c0;
@stroke-gray: #d4d8d9;
// Buttons
// -------------------------
@button-default-color: #fff;
@button-default-bg: #545a6a;
@button-switch-inactive: #86909e;
@button-hover-bg: lighten(@dark-blue, 10%);
@button-active-bg: @light-blue;
@button-disabled: #c4c4c4;
@button-gray: #dadede;
@button-lite-color: #a6a6a6;
@fue-button-color: #67aadd;