@import "~base.less";
@import "./mine.less";
@import "./info.less";
@import "./order.less";

#app {
	background-color: #f5f5f5;
}

.navbar {
	margin-bottom:  0;
}

.banner {
	height: 220px;
}

.noauth-container {
	.noauth-content {
		width: 400px;
		margin: 60px auto 0 auto;

		.noauth-icon, 
		.noauth-tip {
			text-align: center;
		}

		.noauth-tip {
			margin-bottom: 60px;

			i {
				margin-left: 20px;
			}
		}
	}
}

.tab-container {
	background-color: @white;
	box-shadow:0 0 3px @gray;

	.tab-content {
		position: relative;

		.tab-account-info {
			margin: 0 auto;
    		width: 1px;

			.tab-avatar {
				position: absolute;
				margin-left: -60px;
				margin-top: -70px;
				width: 120px;
			}
		}
		.tab-detail {
			position: absolute;
			left: 160px;
			top: -40px;

			.tab-name {
				color: #fff;
				font-size: 18px;
				line-height: 24px;
			}
		}

		.tab-nav {
			.nav-pills>li>a {
				background-color:  transparent;
				color: @dark-gray;
				font-family: "Microsoft Yahei";
				font-size: 18px;
				border-radius: 1px;
				&:hover{
					color: @currency;
				}
			}
			.nav-pills>.active>a {
				color: @currency;
				border-bottom: 3px solid @currency;
			}
		}

		@media (min-width: 768px){
			.nav-pills>li>a {
			    margin: 0;
			}
		}

		@media (min-width: 1170px){
			.nav-pills>li>a {
			    margin: 0 60px;
			}
		}
	}
}
