@import "~base.less";

.navbar {
	margin-bottom:  0;
}

.banner {
	text-align: center;
	background-color: @orange;
	height: 260px;
	background-position: center 0;
	background-repeat: no-repeat;
}

.noauth-container {
	.noauth-content {
		width: 400px;
		margin: 60px auto 0 auto;

		.noauth-icon, 
		.noauth-tip {
			text-align: center;
		}

		.noauth-tip {
			margin-bottom: 60px;

			i {
				margin-left: 20px;
			}
		}
	}
}

.tab-container {
	margin-top: -50px;
	background-color: @white;
	box-shadow:0 3px 5px @gray;

	.tab-content {
		position: relative;

		.tab-account-info {
			position: absolute;
			left: 30px;
			top: -70px;
		}
		.tab-detail {
			position: absolute;
			left: 160px;
			top: -40px;

			.tab-name {
				color: #fff;
				font-size: 24px;
				line-height: 24px;
			}
		}

		.tab-nav {
			.nav-pills>li>a {
				background-color:  transparent;
				color: @dark-gray;
				font-family: "Microsoft Yahei";
				font-size: 24px;
				border-radius: 1px;
				&:hover{
					color: @red;
				}
			}
			.nav-pills>.active>a {
				color: @red;
				border-bottom: 5px solid @red;
			}
		}

		@media (min-width: 768px){
			.nav-pills>li>a {
			    margin: 0;
			}
		}

		@media (min-width: 1170px){
			.nav-pills>li>a {
			    margin: 0 60px;
			}
		}
	}
}

.info-container {

	padding-top: 30px;
	padding-bottom: 60px;
	margin-top: 3px;
	background-color: #FDFDFD;

	.idtype-selector {
		text-align: right;
	}

	.col-md-4{
		padding-right: 0;
	}

	.nav-pills>li {
		border: 1px solid #d4d8d9;
		border-top: none;
	}
	.form-horizontal{
		padding-top: 10px;
	}

	.nav-pills>li:first-child {
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border-top: 1px solid #d4d8d9;
	}

	.nav-pills:li:last-child {
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.nav-stacked>li+li {
		margin-top: 0;
	}

	.nav-pills>li>a {
		border-radius: 0;
	}

	.control-label {
		padding-top: 0;
		font-family: "Microsoft YaHei";
		font-size: 24px;
		font-weight: normal;
	}

	.form-control {
		margin-bottom:  -7px;
		color: @dark-gray;
		font-family: "Microsoft YaHei";
	    font-size: 18px;
	}

	p {
		color: @light-gray;
		margin-top: 5px;
	    margin-bottom: 0;
	    text-align: left;
	    font-family: "Microsoft YaHei";
	    font-size: 20px;
	    font-weight: normal;
	}
	.panel {
	    margin-bottom: 20px;
	    background-color: #fff;
	    border: none;
	    box-shadow: none;
	}

	.panel-default>.panel-heading {
		background-image: none;
	    background-color: @gray;
	    box-shadow: 0 2px 3px @gray;
	}
	.panel-title {
    	border-left: 5px solid @red;
    	span {
    		margin-left: 10px;
    		font-size: 28px;
    	}
	}
	.btn-group-xs>.btn, .btn-xs {
		line-height: 1;
		padding: 0 6px;
		.fa{
			font-size: 20px;
		}
		span{
			margin: 0;
		}
	}
	.left-info {
		text-align: center;
		color: @black;
	}
	.panel-info>.panel-heading {
		background-image: none;
		background-color: transparent;
		border: none;
	}

	.panel-info>.panel-body {
		padding: 30px;
	}

	.item-container {

		button {
			margin-top:20px;
			height: 40px;
			font-size: 20px;
			font-family: "Microsoft YaHei";
	    	padding: 0 10px;
	    	border-radius: 3px;
	    	text-align: center;
	    	border: none;
		}

		.save {
			color: @white;
			background-color: @red;
		}

		.cancel {
			border: 1px solid @black;
			color: @black;
			background-color: @white;
		}
	}
}

.item-head {
    position: relative;
    line-height: 40px;

    .separator-line {
        border-top: 1px dashed @light-gray;
        margin-top: 20px;
    }

    .item-title {
        font-family: "Microsoft YaHei";
        font-size: 18px;
        color: @red;
    }
    .edit {
    	color: @dark-gray;
    	font-family: "Microsoft YaHei";
    	padding: 0 30px;
    	text-align: center;
    	border-radius: 18px;
    	border: none;
    	background-color: @gray;
    }
}

.title-btn {
	margin-top: -2px;
}

.left-block {
	background-color: @white;
	margin-bottom: 20px;
	img{
		width: 100%;
	}
}

.contact-container {

	.contact-item-container {
		form label {
			min-width: 40px;
			margin-left: 20px;
			margin-right: 10px;
		}
	}
}

.my-container {
	font-family: "Microsoft Yahei";
	margin-top: 5px;
	padding-top: 20px;
	background-color: #FDFDFD;


	.profiles p {
		font-size: 20px;

		.fa {
			margin-right: 3px;
			font-size: 20px;
		}
	}

	.title{
		margin-bottom: 40px;
		background-color: @white;
		border: 1px dashed @red;
		height: 40px;
		line-height: 40px;

		.welcome {
			font-size: 20px;
		}

		.messages {
			text-align: right;
			font-size: 18px;

			.bar {
				padding-left: 10px;
				border-left: 3px solid @red;
			}

			.unfinished {
				color: @red;
			}
			.histories {
				color: @red;
			}
		}
	}

	.starting {
		margin-bottom: 80px;
		padding: 3px;
		height: 200px;
		background-color: @white;
		border: 1px dashed @red;

		.col-md-4 {
			padding-left: 0;
		}

		.messages {
			text-align: right;
			font-size: 18px;
			.unfinished {
				color: @red;
			}
			.histories {
				color: @red;
			}
		}
	}
}