.info-container {
	padding-top: 20px;
	padding-bottom: 60px;
	margin-top: 3px;

	.info-section {

        margin-bottom: 30px;
        border: 1px solid #dfdfdf;
        padding-bottom: 20px;

		.info-title {
			background-image: none;
            padding: 12px 30px;
            margin-bottom: 20px;
            border-bottom: 1px solid #dfdfdf;

            h3 {
                border-left: 5px solid @currency;
                padding-left: 10px;
            }

            span {
                margin-left: 10px;
                font-size: 18px;
            }

            .btn-group-xs>.btn, .btn-xs {
                line-height: 1;
                padding: 0 6px;
                .fa{
                    font-size: 20px;
                }
                span{
                    margin: 0;
                }
            }
		}

        .left-block {
            background-color: @white;
            margin-bottom: 20px;
        }

	}

}

.basic-container {

    .ant-btn-group button.ant-btn.ant-btn-primary {
        width: 120px;
    }

}

.contacts-container {

    .contact-group  {
        margin: 10px 40px 20px 40px;
        padding: 20px 0 15px;
        position: relative;
        border-top: 1px solid #f4f6f8;

        .row .col-md-3,
        .row .col-md-2 {
            margin-bottom: 20px;
        }

        h3 {
            position: absolute;
            top: -7px;
            left: 0;
            padding-right: 10px;
            background: #fff;
            color: #888;
            font: 14px/14px 'Microsoft Yahei';
        }
    }

}
