.info-container {
	padding-top: 30px;
	padding-bottom: 60px;
	margin-top: 3px;

	.info-section {

        margin-bottom: 30px;

		.info-title {
			background-image: none;
            padding: 6px 10px;
            margin-bottom: 20px;
            border-radius: 6px;
            box-shadow: 0 0 3px #aeaeae;

            h3 {
                border-left: 5px solid @currency;
                padding-left: 20px;
            }

            span {
                margin-left: 10px;
                font-size: 28px;
            }

            .btn-group-xs>.btn, .btn-xs {
                line-height: 1;
                padding: 0 6px;
                .fa{
                    font-size: 20px;
                }
                span{
                    margin: 0;
                }
            }
		}

        .left-block {
            background-color: @white;
            margin-bottom: 20px;
        }

	}

}
