.index-title,
.order-brief-container,
 {
    box-shadow: 0 0 3px 0 @light-gray;

}

.index-container {
	font-family: "Microsoft Yahei";
    padding-top: 20px;
    padding-bottom: 60px;
    margin-top: 3px;
}

.profiles {
	font-size: 16px;
    margin-top: -35px;
    text-align: center;
    background-color: @white;
    border: 1px solid #dfdfdf;

    .name {
        font-size: 20px;
        padding: 20px 0;
        border-bottom: 1px solid @light-gray;
    }

    .discount {
        height: 42px;
        padding: 10px 0;

        .left {
            float: left;
            width: 50%;
            border-right: 1px dashed @light-gray;
        }

        .right {
            float: right;
            width: 50%;
        }

        .discountcode-count,
        .redbag-count {
            color: @currency;
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.index-title {
    padding: 10px;
	color: @dark-gray;
	background-color: @white;
	line-height: 27px;
    font-size: 16px;
    margin-bottom: 20px;

    h3 {
        padding-top: 4px;
        padding-left: 10px;
        color: @dark-gray;
        font-weight: normal;
        font-size: 18px;
    }

	.bar {
        margin-left: 40px;
		padding-left: 10px;
		border-left: 3px solid @currency;
	}

	.order-count {
        font-size: 20px;
		color: @currency;

        &:hover {
            text-decoration: underline;
        }
	}
}

.order-brief-container {
    border: 1px dashed @currency;
    margin-bottom: 20px;

    .order-brief-title {
        padding: 15px 22px;
        border-bottom: 1px dashed @dark-gray;

        h3,
        a {
            color: @currency;
            font-size: 22px;
        }

        .order-status-tip,
        .order-tip {
            margin-left: 20px;
            padding-top: 5px;
            font-size: 14px;
            color: #666;
        }

        .order-status-tip .order-status,
        .order-tip .order-countdown {
            color: @currency;
            font-size: 18px;
            font-style: border;
            line-height: 18px;
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    .order-brief-content {
        margin-top: 20px;

        .row {
            margin-left: 7px;
            margin-right: 7px;
        }

        .order-extra-container {
            margin-top: 20px;
            margin-bottom: 10px;
            max-height: 50px;
            min-height: 30px;
            padding-top: 10px;
            border-top: 1px dashed @dark-gray;
        }
    }
}

.travel-info {

    .travel-name {
        font-size: 18px;
        line-height: 28px;
        margin-right: 8px;
        margin-bottom: 5px;
    }
}

.order-info {

    .order-label {
        font-size: 18px;
        line-height: 28px;
        margin-right: 8px;
    }

    .traveller-names {

        margin-top: 5px;

        .traveller-name {

            max-width: 100px;
            margin-right: 8px;

            .fa {
                color: @gray;
                margin-right: 5px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .order-price {

        .price {
            color: @orange;
            font-size: 14px;
        }

        .price-before {
            color: @gray;
            text-decoration: line-through;
        }
    }
}

.order-operation-container {
    width: 100%;
    height: 20px;
    margin-bottom: 8px;

    .order-operation {
        position: absolute;
        bottom: 0;
        right: 0;

        form.ant-form-inline {
            display: inline-block;
        }

        a {
            color: #e01515;
        }

        button.btn.btn-link {
            margin-right: 10px;
            font-size: 12px;
            padding: 0;
            color: #e01515;
            padding-left: 10px;
            border-left: 1px solid #e01515;

            &:hover {
                color: #e01515;
            }
        }

        button.btn.btn-link:first-child {
            border-left: none;
        }
    }
}

.group-info {

	.group-members {
		font-size: 14px;
		
		.avatars {
			overflow: hidden;

			img {
				width: 40px;
			}

            .traveller-name {
                max-width: 100px;
                margin-right: 8px;
            }
		}

		.fa {
			margin-left: 20px;
			font-size: 18px;
		}
	}

	.group-QR {
		float:right;
		width: 170px;
	}
}


/**
 * 当前订单都样式
 */
.order-brief-container.current {

}


/**
 * 过期订单都样式
 */
.order-brief-container.history {
    background: @rice;
}

.no-result {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e5e9ef;
    background: url(http://static.hdslb.com/bl2se/images/no_more.png) 50% 100% no-repeat;
    background-color: #fff;
    height: 300px;
    line-height: 300px;
    text-align: center;
    padding: 0;
    margin-top: 20px;

    p {
        font-size: 25px;
        color: #777;
    }
}
