@import "~base.less";
@import "./content.less";

html {
    font-size: 12px;
}

body {
    margin: 0;
    background-color: @white;
}

.days-list-sidebar {
    background-color: @white;
    width: 300px;
    height: 100%;
    overflow: scroll;

    p {
        margin: 0;
        font-size: 18px;
    }

    .am-list-view-scrollview {
        height: 100%;
    }

    .day-item-container {
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: 1px solid @gray;

        .day-item p {
            width: 230px;
            line-height: 20px;
            color: @gray;
            font-size: 1rem;
            text-overflow:ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.days-list-toggle {
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: 1;
    border-radius: 0;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    border:  none;
    box-shadow: 7px 7px 10px -3px rgba(195, 195, 195, 0.3), 7px -7px 10px -3px rgba(195, 195, 195, 0.3);
    width: 20%;
    height: 50px;
    line-height: 50px;
    background-color: @white;
    font-size: 1.4rem;
    color: @black;
}

.am-button-primary:after {
    border: none;
}

.am-button-touchFeedback {
    background-color: rgba(195, 195, 195, 1)!important;
}

.travel-dairy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px;
    overflow: scroll;
}

.days-list-sidebar {
    p {
        font-size: 1.2rem;
    }
}