@import "~wbase.less";

.contact-list-container {
    margin-bottom: 1.3rem;
}

.contact-container {
    background-color: @white;
    margin-bottom: .3rem;

    .contact-body {
        color: black;
        display: inline-table;
        width: 100%;
        padding: .15rem .6rem;
        .border-bottom(@gray-bg);

        .img-responsive {
            width: 1.2rem;
            line-height: 0;
            margin-right: .2rem;
        }

        .contact-id {
            margin-top: .25rem;
        }
    }

    .contact-edit-container {
        width: 100%;
        padding: .15rem .6rem;

        p {
            color: black;
        }

        label {
            font-weight: normal;
            font-size: @smaller-font-size;
            color: black;

            .am-checkbox {
                margin-right: .12rem;
                width: .4rem;
                height: .4rem;

                .am-checkbox-inner {
                    width: .4rem;
                    height: .4rem;
                    border-width: .03rem;

                    &:after {
                        width: .1rem;
                        height: .2rem;
                        border-width: 0 .03rem .03rem 0;
                        right: .1rem;
                    }
                }
            }
        }

        button {
            font-size: @smaller-font-size;
        }
    }
}

.contact-addbtn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    button {
        font-size: @larger-font-size;
        height: 1rem;
        background-color: @currency;
        border-radius: 0;
        color: white;
    }
}
