@import "~base.less";

body {
    font-size: 14px;
    background-color: @gray-bg;
    font-family: "Microsoft YaHei";
    padding-top: 10px;
}

.contact-list {
    margin-bottom: 20px;
}

.contact-container {
    background-color: @white;
    margin-bottom: 20px;

    .contact-body {
        color: black;
        display: inline-table;
        width: 100%;
        padding: 5px 20px 0;
        border-bottom: 1px solid @gray-bg;

        .contact-detail {
            p {
                display: block;
                line-height: 30px;
                margin-bottom: 3px;
            }
        }
    }

    .contact-edit-container {
        width: 100%;
        padding: 0 20px;

        p {
            margin: 0;
        }

        button {
            font-size: 14px;
            height: 30px;
            border-radius: 5px;
            line-height: 30px;
            margin-left: 10px;
            color: @black;

            &:after {
                border: none;
            }
        }

        /**
         * 为了让左边checkbox和右边的button能对齐
         */
        .pull-left {
            padding-top: 5px;
        }

        label {
            font-weight: normal;
        }
    }
}

.contact-addbtn-container {
    margin-bottom: 20px;

    button {
        height: 100px;
        background-color: rgba(0,0,0,0.1);

        .anticon {
            font-size: 50px;
            color: @currency;
        }

        &:after {
            border: none;
        }
    }
}

.am-button-primary.am-button-touchFeedback {
    background-color: rgba(0,0,0,0.5);
}
