@import '~base.less';

.contacts-item-container {

        border-radius: 8px;
        box-shadow: 0 0 3px @light-gray;
        margin-bottom: 20px;

        .contact-title {
            margin: 10px 6.25%;
        }

        .contact-item-btn-group {
            width: 200px;
            margin: 0 auto;
        }

}
