
.contact-edit-dialog-1 {
    
    /**
     * 覆盖antd-mobile的样式
     */
    .am-list-item.am-input-item,
    .am-list-item.am-list-item-middle {
        height: 61px;
        min-height: 40px;

        input,
        .am-input-label,
        .am-list-content {
            font-size: 18px;
            margin-right: 30px;
            overflow: visible;
        }
    }

    .am-list-item .am-list-line {
        min-height: 40px;

        .am-list-content {
            width: 64px;
            -webkit-box-flex: none;
            -ms-flex: none;
            flex: none;
        }

        .am-list-extra {
            text-align: left;
            font-size: 18px;
            color: #000;
            // opacity: 0.54;
        }
    }

    .am-list .am-list-item .am-input-label.am-input-label-4 {
        width: 64px;
    }

    .am-list .am-list-item .am-input-control  {
        margin-top: -10px;

        input::-webkit-input-placeholder {
            font-size: inherit;
        }
    }

    .am-list-arrow.am-list-arrow-horizontal {
        width: 18px;
        height: 18px;
    }

    .am-list .am-list-item .am-input-clear {
        width: 30px;
        height: 30px;
        background-size: 30px auto;
    }

    /**
     * 滑动按钮，覆盖上面设置的0.54透明度，和right的文本对齐
     */
    .contact-emergency-container.am-list-item .am-list-line .am-list-extra {
        opacity: 1;
        text-align: right;
    }

    .am-switch {
        margin-top: 4px;
    }

    .am-switch, 
    .am-switch .checkbox {
        width: 51px;
        height: 31px;
        box-sizing: border-box;
        position: relative;
    }

    .am-switch .checkbox:after, 
    .am-switch .checkbox:before {
        height: 28px;
    }

    .am-switch .checkbox:before {
        width: 48px;
        left: 1.5px;
        top: 1.5px;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .am-switch .checkbox:after {
        width: 28px;
        top: 2px;
        left: 2.5px;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-box-shadow: .04rem .04rem .08rem hsla(0,0%,39%,.2);
    }

    .am-switch input[type=checkbox]:checked+.checkbox:before {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .am-switch input[type=checkbox]:checked+.checkbox:after {
        -webkit-transform: translateX(.4rem);
        -ms-transform: translateX(.4rem);
        transform: translateX(.4rem);
        -webkit-box-shadow: none;
    }

    .contact-form {
        margin-bottom: 20px;
    }

    .contact-btn-container {
        
        button {
            margin-bottom: 20px;
        }
    }
}

/**
 * 性别选择的控件, 他的dom直接放在body节点下面
 */
.am-action-sheet-message {
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.am-action-sheet-button-list-item {
    font-size: 18px;
    height: 61px;
    line-height: 61px;
}

/**
 * 生日选择控件，他的dom也是直接放在body节点下面
 */
.am-picker-popup-item {
    font-size: 18px;
    text-align: center;
}

.am-picker-col {
    height: 238px;
}

.am-picker-col-item {
    font-size: 18px;
    height: 34px;
    text-align: center;
    touch-action: manipulation;
    line-height: 34px;

    &.am-picker-col-item-selected {
        font-size: 20px;
    }
}

.am-picker-col-mask {
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6)),linear-gradient(0deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6));
    background-size: 100% 102px;
}

.am-picker-col-indicator {
    height: 34px;
    top: 102px;
}
