@import "~base.less";
@import "~animate.min.css";

.contact-edit-dialog {

    .contact-form {

        .am-list {
            margin-bottom: .2rem;
        }

        .am-list .am-list-item.am-input-item, {
            height: .8rem;
            padding: 0 .3rem;
        }

        .am-list .am-list-item.am-list-item-middle .am-list-line {
            padding-right: .3rem;
        }

        .am-list-item {
            height: .8rem;
        }

        .am-list .am-list-item .am-input-label.am-input-label-4 {
            width: 1.5rem;
        }

        .am-list .am-list-item .am-input-label,
        .am-list .am-list-item .am-input-control input,
        .am-list-item .am-list-line .am-list-content,
        .am-list-item .am-list-line .am-list-extra,
        .am-list .am-list-item .am-input-control input::-webkit-input-placeholder {
            font-size: .28rem;
            color: #888;
        }

        .am-list .am-list-item .am-input-label,
        .am-list-item .am-list-line .am-list-content {
            color: black;
        }

        .idtype-selector {
            text-align: right;

            span {
                float: left;
            }

            .idtype-icon {
                margin-top: .06rem;
                color: #888;
                font-size: .25rem;
            }
        }

        .idtype-selector.h-passer {
            font-size: .25rem;
        }
    }

    .contact-btn-container {
        margin: 0 .3rem;
        
        button {
            margin-bottom: .2rem;
            border: 1px solid #ddd;
            font-size: .28rem;
            line-height: .8rem;
            height: .8rem;
        }

        button.save-btn {
            background-color: @currency;
            color: white;
        }
    }
}

// 覆盖jquery-weui库
.weui-picker-modal {

    height: auto;

    .toolbar,
    .toolbar .title {
        font-size: .34rem;
    }

    .toolbar {
        .title,
        .picker-button {
            height: 1rem;
            line-height: 1rem;
            margin-top: 0;
            margin-bottom: 0;
        }

        .toolbar-inner {
            height: 1rem;
        }
    }

    .picker-items {
        font-size: .4rem;
    }

    .picker-item {
        height: .6rem;
        line-height: .6rem;
        text-align: center;
    }

    .picker-center-highlight {
        height: .6rem;
        margin-top: -0.3rem;
    }

    .picker-modal-inner {
        height: 5rem;
    }
}

.city-picker {

    .col-province,
    .col-city,
    .col-district {
        width: 33%;
    }
}
