@import "~wbase.less";

.order-loading-container {
    width: 100%;
    height: 100%;
    padding-top: 40%;
    padding-left: 30%;

    .am-activity-indicator-tip {
        font-size: .4rem;
    }
}

.order-form-container {
    margin-bottom: 1.3rem;
}

.item-title {
    padding-left: .3rem;
    font-size: .28rem;
    color: black;
}

.am-list-item .am-list-line {
    min-height: .8rem;
}

.am-list-item .am-list-line .am-list-content {
    color: @dark-black;
    font-size: .28rem;
    line-height: .8rem;
    padding: 0;
    min-height: .8rem;
}

.am-list-item .am-list-line .am-list-extra {
    font-size: .28rem;
    line-height: .8rem;
    padding: 0;
    min-height: .8rem;
}

.travellers-container,
.roommate-container,
.emergency-container,
.discount-container,
.agreement-container,
.order-status-container,
.travellers-button {
    border: 1px solid @gray-line;
    margin: .2rem .1rem;
    background: white;
    border-radius: .1rem;
    overflow: hidden;
}

/**
 * 路线信息
 */
.travel-info-container {
    position: relative;
    margin-bottom: .2rem;
    box-shadow: 0 0px 5px @light-gray;
    border-bottom: 2px dashed @currency;
    padding: .36rem .3rem;
    background: white;

    .travel-title {
        font-size: .34rem;
        color: @dark-black;
    }

    .travel-detail {
        font-size: .28rem;

        .travel-date,
        .travel-price {
            font-size: .28rem;
            color: @currency;
            margin-right: .1rem;
            margin-left: .1rem;
        }
    }
}

/**
 * 出行人选择
 */
.travellers-container {

    .am-wingblank.am-wingblank-lg {
        margin-right: .1rem;
    }

    .traveller-container {
        padding-top: .1rem;
        padding-bottom: .1rem;
        border-bottom: 1px solid @gray-line;
        font-size: .28rem;
        color: @gray;

        .traveller-info {
            width: 79%;
            padding-right: .3rem;

            .traveller-addition-info {
                margin-top: .15rem;
            }
        }

        &.readOnly .traveller-info {
            width: 90%;
            border-right: none;
        }

        .traveller-edit-container {
            width: 21%;
            text-align: right;

            button { 
                font-size: .4rem;
                padding: .15rem;
                color: @light-currency;

                &:after {
                    border: none;
                }
            }
        }
    }
}

.travellers-button {
    box-shadow: 0 0px 3px rgba(195, 195, 195, 0.3);

    .traveller-selector-trigger, .emergency-selector-trigger {

        button {
            border: none!important;
            min-height: 1rem;
            font-size: .34rem;
            color: @dark-gray;

            i {
                font-size: .5rem;
                vertical-align: -.08rem;
                color: @light-currency;
            }

            span {
                margin-left: .1rem;
            }
        }
    }
}

/**
 * 睡友选择
 */
.roommate-container {
    .am-checkbox-inner {
        top: .25rem!important;
        border-color: @light-currency!important;

        &:after {
            border-color: @light-currency!important;
        }
    }

    .roommate-selector .am-list-body{
        border-top: none;
    }

    .am-list .am-list-item .am-input-label {
        font-size: .28rem;
    }

    .am-list .am-list-item .am-input-control input {
        font-size: .28rem;
    }
}

/**
 * 紧急联系人选择
 */
 .emergency-container {

    .emergency-show .am-list-body {
        border-top: none;
    }
 }

/**
 * 出行人选择器, 紧急联系人选择器
 */
.travellers-selector-container,
 .emergency-selector-container {

    background: @gray-bg;

    /**
     * 覆盖antd-mobile的样式
     */
    .am-list {
        margin-bottom: .2rem;

        .am-list-header {
            text-align: center;
            font-size: .35rem;
        }
    }
 }

/**
 * 修改antd-mobile button的一些样式
 */
 button.am-button.am-button-fix {
    border: 1px solid #ddd;
    border-radius: 0;

    &:after {
        border: none;
    }
 }

/**
 * 优惠选择
 */
 .discount-container {

    .discount-price {
        color: @light-currency;
        margin-right: .5rem;
    }

    .am-stepper {
        height: .55rem;
    }

    .am-stepper-handler, 
    .am-stepper-handler-up-inner, 
    .am-stepper-handler-down-inner {
        width: .5rem;
        height: .5rem;
        line-height: .5rem;
    }
 }

/**
 * 优惠政策选择弹窗，优惠码选择弹窗
 */
.am-action-sheet-message {
    font-size: .35rem;
}

/**
 * 优惠政策选择弹窗，优惠码选择弹窗
 */
.agreement-container {

    button {
        font-size: .34rem;
        min-height: .8rem;
    }

    .am-checkbox-agree .am-checkbox-agree-label {
        font-size: .28rem;
    }

    .am-checkbox-agree .am-checkbox-inner {
        top: .25rem;
    }
}

/**
 * 底部支付按钮
 */
.footer-container {
    background: white;
    border-top: 1px solid @light-gray;
    height: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    p.pull-left {
        margin-top: .2rem;

        span.order-price {
            font-size: .4rem;
            color: @currency;
            margin-left: .1rem;
        }
    }

    form {
        display: inline;
        height: 100%
    }

    button {
        background-color: @currency;
        box-shadow: 0px .14rem .1rem -.1rem @gray;
        margin: .1rem;
        padding: 0 .3rem;
        color: white;
        border-radius: .1rem;
        line-height: .8rem;
        height: .8rem;
        font-size: .28rem;
        font-weight: normal;
    }
}

/**
 * 订单状态显示
 */
.order-status-container {

}

.am-action-sheet-button-list-item {
    font-size: .28rem;
    line-height: .8rem;
    height: .8rem;
}

.travellers-selector-container button, .emergency-selector-container button {
    font-size: .28rem;
    line-height: .8rem;
    height: .8rem;
}