@import "~base.less";

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: @gray-bg;
    font-family: "Microsoft YaHei";
    font-size: .32rem;
    margin: 0;
}

p {
    margin: 0;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.am-wingblank.am-wingblank-lg {
    margin: 0 0.2rem;
}

.discountcode-container {
    border: 1px solid @currency;
    margin-bottom: .2rem;
    border-radius: .05rem;
    box-shadow: 0 0 3px 0 @currency;
    background-color: @white;
    background-image: url(./wave.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;

    .discountcode-header {
        height: 10px;
    }

    .discountcode-body {
        margin: .3rem 0 .3rem .2rem;
    }

    &.discountcode-unusable {
        color: @light-gray;
        border-color: @light-gray;
        box-shadow: 0 0 3px 0 @light-gray;
        background-image: url(./gray-wave.svg);

        .discountcode-price-container {
            color: @light-gray;
        }

        .discountcode-body {
            background-image: url(./overdue.svg);
            background-repeat: no-repeat;
            background-size: 1.2rem 1.2rem;
            background-position: 95% top;
            background-origin: border-box;
        }

        .discountcode-rule-container {
            border-left-color: @light-gray;
        }
    }
}

.discountcode-price-container {
    color: @currency;
    padding: .3rem .2rem .3rem 0;
    font-size: .4rem;
    text-align: center;
    font-weight: bolder;

    .discountcode-price {
        margin-left: .2rem;
        font-size: .7rem;
    }
}

.discountcode-rule-container {
    border-left: 1px dashed @currency;
    padding-left: .3rem;
    font-size: .24rem;

    .discountcode {
        font-size: .28rem;
        font-weight: bolder;

        .discountcode-text {
            font-size: .24rem;
            font-weight: normal;
        }
    }

    .discountcode-rule {
        padding-left: .35rem;
        margin-top: .1rem;
        margin-bottom: .1rem;

        li {
            margin-bottom: .1rem;
        }
    }

}
