@import "~wbase.less";

.wh-container {
    width: 100%;
    height: auto;
}

.swiper-container {
    .squal(100%);
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;

    .swiper-slide {
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .swiper-pagination {
        padding-right: 5%;
        text-align: right;
    }
}

.daohang {
    .border-bottom(@gray-line);
    background-color: @white;
    margin-bottom: 3px;

    .Afourth:first-child .mylabel{
        border-left: none;
    }

    .mylabel {
        padding: .2rem 0;
        font-size: @smaller-font-size;
        color: @dark-gray;
        .text-center();
        .border-left(@gray-bg);

        p{
            color: @black;
            line-height: .3rem;
            margin: 0;
        }

        .icon {
            line-height: .4rem;
            color: @currency;
            
            img {
                margin: .1rem 0 .1rem;
                .squal(.8rem);
            }
        }
    }
}

.special,
.routes {
    padding: .4rem 2.5% .4rem;
    background-color: @white;
    margin-bottom: .2rem;

    .head-title {
        .text-center;
        position: relative;
        margin: 0 auto .2rem;
        line-height: .72rem;
        font-weight: 100;
        color: black;
        letter-spacing: .14rem;
        
    }

    .route-name {
        letter-spacing: .1rem;
    }

    .img-responsive {
        min-height: 4.2rem;
    }
}

.special {
    .text-center;
    min-height: 8rem;

    .route-container {
        margin-top: .5rem;
    }

    .head-title + .route-container {
        margin-top: .2rem;
    }

    .img-responsive {
        border-radius: .16rem;
    }

    .route-name {
        color: #007DCA;
        margin-top: .3rem;
    }

    .route-title  {
        margin-top: .1rem;
        font-size: @smaller-font-size;
        color: @light-gray;
        font-weight: 300;
    }

    .route-price {
        color: @currency;
        font-size: @large-font-size;
        font-weight: 300;
        margin-top: .1rem;
    }

    hr {
        border: none;
        .border-top(@silver);
        margin: .3rem 0 0;
    }

    .more {
        .text-center;
        margin-top: -.25rem;
        width: 100%;

        span {
            .border-left(@silver);
            .border-right(@silver);
            font-size: @small-font-size;
            color: @currency;
            background-color: @white;
            line-height: .4rem;
            padding: 0 .3rem;
        }
    }
}

.routes {
    margin: 0.4rem 0 1.42rem;

    .route-container {
        .border(@silver);
        border-radius: 0.16rem;
        margin-bottom: 0.4rem;
        overflow: hidden;

        .img-container {
            position: relative;

            .img-responsive {
                box-shadow: 0 .01rem .05rem #a5a5a5;
            }

            .price  {
                .text-center;
                .border(@light-currency);
                position: absolute;
                bottom: .5rem;
                right: .5rem;
                border-radius: .1rem;
                overflow: hidden;
                font-size: @smaller-font-size;

                .up {
                    color: @white;
                    background-color: @light-currency;
                    padding: 0 .05rem;
                }

                .down {
                    color: @light-currency;
                    background-color: @white;
                }
            }
        }

        p {
            padding: .2rem .2rem;
            font-size: @small-font-size;

            .route-name {
                color: @white;
                background-color: @light-currency;
                padding: .05rem .1rem;
                margin-right: .2rem;
                border-radius: .1rem;
            }

            .route-title{
                color: @dark-gray;
            }
        }
    }
}

.mine-container {
    margin-bottom: 2.4rem;

    .mine-header {
        .text-center;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        color: @white;
        background-image: url(../img/avatarbg.jpg);
        background-size: 100%;

        img {
            .squal(1.28rem);
            margin: 0 auto;
        }
    }

    .mine-order {
        margin-top: .2rem;
        background-color: @white;

        .am-list {
            margin-top: 0;
        }

        .bar {
            .text-center;
            padding: 0.2rem 0;
            font-size: @small-font-size;
            color: @gray;
        }

        .order-count {
            color: @currency;
        }
    }

    .am-list {
        margin-top: .2rem;

        .am-list-extra {
            color: @currency;
        }
    }
}

.orders-container {
    margin-bottom: 1.3rem;
}

.order-item-container {
    .border-bottom(@gray-line);
    background-color: @white;
    margin-top: .1rem;
    margin-bottom: .12rem;

    & > div {
        padding: .2rem .4rem;
    }

    .order-item-title .travel-status {
        color: @currency;
    }

    .order-item-body {
        background-color: @gray-bg;

        .travel-img {
            width: 1.7rem;
            line-height: 0;
            background-size: auto 100%;
        }

        .travel-info {
            width: 73%;
            padding-left: .2rem;
            font-size: @smaller-font-size;
            color: @gray;

            .travel-name {
                font-size: @middle-font-size;
                line-height: .4rem;
                margin-bottom: .15rem ;
                color: @dark-black;
            }

            .traveller-names {
                margin-bottom: .08rem;

                .traveller-name {
                    margin-right: .1rem;
                }
            }
        }
    }

    .order-item-footer {

        .order-label,
        .actual-price {
            margin-right: .1rem;
            font-size: .28rem;
        }

        .actual-price {
            color: @currency;
        }

        .order-price,
        button.am-button.am-button-small {
            height: .6rem;
            line-height: .6rem;
        }

        button.am-button.am-button-small {
            font-size: .28rem;
            padding: 0 .3rem;
        }
    }
}
